*{
    text-decoration: none;
    list-style: none;
    margin: 0px;
    font-family: Arial,sans-serif;
}
.Artcl ul {
    display: flex;
    margin-left: 30px;
    
 
}

#C2 {  
    display: flex;
    background-color: coral;
    position:fixed;
    width: 100%; 
    padding-top: 30px;
}



#C2 ul li a{
    color: white;
    margin-left: 10px;
  
}


li a:hover {
    background-color: rgb(255, 99, 42);
    
  }

#C2 img {
    
    width: 150px;
    height: 50px;

}

.C3 {
    background-color: coral;
    margin: 0px;
    padding: 60px;
    line-height: 20px;
    width: 100%;
    padding-left: 20px;

}
.Artcl ul li a { 
    color: floralwhite;
    text-decoration: none;
    
}

nav ul li{
    display: flex;
    list-style: none;
    display: inline-block;
    margin-right: 50px;
   
}



#C4 {
    text-align: center;
    padding-top: 90px;
    

    
}

.C5 {
    margin-left: 10px;
    text-align: center;
    color: rgb(68, 68, 68);
    margin-top: 30px;

    
}

 article div h1 {
    font-size: 40px;
    color: floralwhite;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    background-color: black;
    color: white ;
    border: black;
    margin-left: 80px;
    padding: 10px;
    border-radius: 5px;
    
    

}
.titl {
    border: 2PX solid white;
     background: transparent;
     color: white;
     margin-left: 10px;
     padding: 7px;
     border-radius: 5px;
   
}

.Tt {
 margin-bottom: 20px;
 
}
.Tt :hover{
    background-color: rgb(255, 155, 118);
}


#artcl {
    color: rgb(105,177,236);
    font-family: Arial,sans-serif;
    padding-left: 85px;
    
}

#DIV {
    margin-left: 30px;
}
#div {
    margin-left: 30px;
}



#art {
    padding: 15px;
}

.BRD {
   margin-left: 20px;
   padding-left: 50px;
}

.brd {
    border-radius: 5px;
    margin: 8px;
    padding: 10px;
    width: 420px;
    border: solid rgb(207, 207, 207);
    font-style: italic;
    
}


#C7 {
    list-style: none;
    margin-left: 15px;
    padding-top: 20px;
}

   



.C8 {
    display: inline-flex;
    justify-content: space-between;
    
}
.clr {
    color: coral;
}



section{
    display: flex;
    background-color: rgb(63, 61, 61);
    margin-top: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;

}
.FF{
    background-color: rgb(46, 46, 46);
    
    
    
}

#ff {
    margin-left: 80px;
    color: white;
}
.CLR ul li h4{
    color: white;
}

.CLR ul li a {
    color: rgb(122, 121, 121);

}
.FF li a {
    color: chocolate;
}

#bRd {
    
    background-color: coral;
    color: white ;
    margin-left: 380px;
    padding: 10px;
    border-radius: 5px;
    border: 2PX solid coral;
}




.PH {
    justify-content: space-between;
    display: flex;
    padding-left: 50px;
   
}
.PH p {
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 0px;
    margin-right: 10px ;
   
}

.PH img {
    width: 60px;
    height: 50px;
}

div .PH img p {
    margin-top: 70px;
}
.PH {
    margin: 10px;
    padding-top: 10px;
    
}

.Artcl #artcl h3 {
    margin-top: 60px;
   
}

div #artcl h3 {
    margin-top: 60px;
}

.CLR  {
    padding-right: 10px;
    padding-left: 13px;  
}

#BTN {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    background-color: rgb(2, 32, 47);
    border: rgb(2, 32, 47);
    color: white;

}

.IC { 
    display: flex;
}

.Ic {
    height: 20px;
    width: 20px;
}

.ic {
    margin-right: 6px;
}

#M {
    color: white;
}